.container {
  margin-inline: 1rem;
  max-width: 100%;
}

.question_container {
  /* border: 1px solid rgb(139, 139, 139); */
}

.highlight {
  border: 1px solid rgb(139, 139, 139);
}
.focused {
  border: calc(0.15rem * var(--mantine-scale)) solid var(--mantine-color-blue-7);
}
