.container {
  margin-inline: 0;
  max-width: 100%;
  padding-bottom: 70px;
  padding-inline: 0.2rem;
}

.scrollable_container {
  height: calc(
    100vh - 70px
  ); /* Adjust the height to ensure it's scrollable (minus header/footer height if needed) */
  overflow-y: auto; /* Enables vertical scrolling */
  padding-top: 40px; /* Creates the top margin for the scrollbar */
}

.top_bar {
  position: fixed;
  top: 0; /* Adjust based on how far down from the top you want the grid to appear */
  left: 80px; /* Set to center it horizontally if needed */
  right: 0; /* To ensure it spans the full width */
  z-index: 299; /* Ensure it stays above other content */
  background-color: white; /* Optional: Set a background to prevent overlap of content */
  padding: 10px; /* Optional: Adjust padding or margins as needed */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
}

.bottom_bar {
  position: fixed;
  bottom: 0; /* Fixes the grid to the bottom of the viewport */
  left: 80px;
  width: calc(100% - 80px); /* Ensures the grid spans the full width */
  z-index: 299; /* Adjust as needed to stay above other content */
  background-color: white; /* Optional: Prevents content from showing through */
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow above the grid */
}

.question_container {
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--mantine-color-gray-7);
  background-color: var(--mantine-color-gray-1);
  /* outline-offset: -1px; */
}

.focused,
.highlight {
  border: 2px solid var(--mantine-color-blue-filled);
  /* outline-offset: -1px; */
  background-color: var(--mantine-color-blue-1);
}

.focused .question_header,
.highlight .question_header {
  background-color: var(--mantine-color-blue-filled);
}

.loading_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.collapse_icon:hover {
  border-color: var(--mantine-color-blue-outline);
  transition: 0.3s;
}

.plus_icon {
  width: 100%;
  color: var(--mantine-color-green-6);
}

.plus_icon:hover {
  cursor: pointer;
  background-color: var(--mantine-color-green-6);
  color: var(--mantine-color-white);
  transition: 0.3s;
}

.question_header {
  background-color: var(--mantine-color-gray-7);
}

.question_side_panel {
  margin-top: 1rem;
  width: 15rem;
}

.question_right_panel {
  padding-left: 0.2rem;
  margin-top: 1rem;
  width: calc(100% - 15rem);
}

.question_tile_container {
  padding-right: 0.6rem;
  padding-top: 0;
  position: fixed;
  width: 15rem;
  overflow-y: auto;
  height: calc(100vh - 125px);
}

.question_list_item {
  height: 1.75rem;
  width: 100%;
  color: white;
  background-color: var(--mantine-color-gray-7);
  border-radius: 4px;
}

.question_list_item > div {
  padding-inline: 0.6rem;
  justify-content: left;
}

.question_list_item:hover {
  background-color: var(--mantine-color-dark-2);
}

.selected,
.selected:hover {
  color: white;
  background-color: var(--mantine-color-blue-filled);
}

.segmented_control {
  background-color: transparent;
}

.segmented_control_label {
  color: var(--mantine-color-blue-filled);
  font-size: var(--mantine-font-size-xs);
}
