.container {
  margin-inline: 0;
  max-width: 100%;
  margin-top: 40px;
  padding-bottom: 70px;
}

.loading_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.top_bar {
  position: fixed;
  top: 0; /* Adjust based on how far down from the top you want the grid to appear */
  left: 80px; /* Set to center it horizontally if needed */
  right: 0; /* To ensure it spans the full width */
  z-index: 299; /* Ensure it stays above other content */
  background-color: white; /* Optional: Set a background to prevent overlap of content */
  padding: 10px; /* Optional: Adjust padding or margins as needed */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
}

.bottom_bar {
  position: fixed;
  bottom: 0; /* Fixes the grid to the bottom of the viewport */
  left: 80px;
  width: 100%; /* Ensures the grid spans the full width */
  z-index: 299; /* Adjust as needed to stay above other content */
  background-color: white; /* Optional: Prevents content from showing through */
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow above the grid */
}

.new_questionnaire,
.questionnaire {
  cursor: pointer;
  transition: all 0.5s;
  height: 6rem;
  width: 13rem;
}

.questionnaire {
  background: linear-gradient(
    45deg,
    var(--mantine-color-dark-1) 0%,
    var(--mantine-color-dark-0) 100%
  );
}

.new_questionnaire {
  color: white;
  background: linear-gradient(
    45deg,
    var(--mantine-color-blue-filled) 0%,
    var(--mantine-color-cyan-filled) 100%
  );
}

.new_questionnaire:hover {
  border: 1px solid var(--mantine-color-blue-filled);
  color: var(--mantine-color-blue-filled);
  background-color: white;
  background: white;
}

.hidden_buttons {
  display: none;
}

.questionnaire:hover .hidden_buttons {
  transition: all 0.5s;
  display: flex;
}

.questionnaire_text {
  color: var(--mantine-color-dark-5);
}

.questionnaire:hover .questionnaire_text {
  transition: all 0.5s;
  display: none;
}

.link {
  color: var(--mantine-color-blue-7);
  text-decoration: none;
}

.table_row:hover {
  background: linear-gradient(
    45deg,
    var(--mantine-color-blue-6) 0%,
    var(--mantine-color-cyan-6) 100%
  );
}

.table_row:hover .table_cell,
.table_row:hover .link {
  color: white;
}

.th {
  padding: 0;
}

.control {
  width: 100%;
  padding: var(--mantine-spacing-xs);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.icon {
  width: rem(21px);
  height: rem(21px);
  border-radius: rem(21px);
}
