.container {
  max-width: 100%;
  margin-top: 60px;
  padding-inline: 0.3rem;
}

.loading_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.top_bar {
  position: fixed;
  top: 0; /* Adjust based on how far down from the top you want the grid to appear */
  left: 80px; /* Set to center it horizontally if needed */
  right: 0; /* To ensure it spans the full width */
  z-index: 299; /* Ensure it stays above other content */
  background-color: white; /* Optional: Set a background to prevent overlap of content */
  padding: 10px; /* Optional: Adjust padding or margins as needed */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
}

.bottom_bar {
  position: fixed;
  bottom: 0; /* Fixes the grid to the bottom of the viewport */
  left: 80px;
  width: calc(100% - 80px); /* Ensures the grid spans the full width */
  z-index: 299; /* Adjust as needed to stay above other content */
  background-color: white; /* Optional: Prevents content from showing through */
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow above the grid */
}

.new_template,
.template {
  cursor: pointer;
  height: 6rem;
  width: 13rem;
}

.new_template {
  color: var(--mantine-color-blue-6);
  border: 1px solid var(--mantine-color-blue-6);
}
.new_template:hover {
  border: none;
  background: linear-gradient(
    45deg,
    var(--mantine-color-blue-6) 0%,
    var(--mantine-color-cyan-6) 100%
  );
}
.new_template:hover p {
  color: white;
}

.hidden_buttons {
  display: none;
}

.template:hover .hidden_buttons {
  transition: all 0.5s;
  display: flex;
}

.template_text {
  color: white;
}
.template:hover .template_text {
  transition: all 0.5s;
  display: none;
}

.button {
  &:disabled,
  &[data-disabled] {
    background-color: var(--mantine-color-blue-0);
    color: var(--mantine-color-blue-6);
  }
}

.accordion_label {
  padding-block: 0.4rem;
  font-size: var(--mantine-font-size-xs);
}

.accordion_control {
  color: white;
  background-color: var(--mantine-color-blue-6);
}

.accordion_item {
  border-color: var(--mantine-color-blue-6);
  border-width: 2px;
  border: 2px solid var(--mantine-color-blue-6);
}
.accordion_item[data-active] {
  border-color: var(--mantine-color-blue-6);
}
