.dragHandle_td {
  padding: 0;
  cursor: grab;
}

.dragHandle {
  /* padding-block: 1rem; */
  width: rem(40px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
}

.item {
  background-color: var(--mantine-color-body);
}
.item:hover {
  background-color: var(--mantine-color-blue-light-hover);
}
.plus_item {
  width: 100%;
  text-align: center;
}
.plus_item:hover {
  background-color: var(--mantine-color-blue-6);
  color: var(--mantine-color-white);
}
.divider_label {
  color: var(--mantine-color-gray-9);
  font-weight: 500;
}
